<!-- Banner -->
<div class="banner">
  <img src="https://placehold.co/1200x450" alt="">
</div>

<!-- Delivery Info -->
<div class="ribbon my-5">
  <div class="container-small">
    <h2>Delivery Information</h2>

    <p>We offer fast and reliable delivery services to ensure your orders reach you promptly.
      Our delivery options include standard shipping and express delivery for urgent orders.
      Feel free to contact us for any special delivery requests or inquiries.</p>

    <a href="/about#contact-us"> Contact Us</a>
  </div>

</div>

<!--Recently Added Collection -->
<div class="my-5">
  <h2>Recently Added Collection</h2>
  <!-- plan to use owl carousel -->
  <div class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <%- include('partials/products'), {products: products} %>
      </div>
    </div>
  </div>
</div>

<!--Favourite Collection -->
<div class="my-5">
  <h2>Our Favourite Collection</h2>
  <div class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">
      <div class="owl-stage">
        <%- include('partials/products'), {products: products} %>
      </div>
    </div>
  </div>
</div>