<h2 class="text-center mb-4">Sign Into Your Account</h2>
<div class="d-flex justify-content-center">
    <form class="login-form" action="#">
        <div class="mb-3 form-box">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
            <a href="" class="text-decoration-none float-end">Forget Password</a>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary login-btn w-100 mb-3">Login</button>
        <h5 class="text-center mb-3">Social Login</h5>
        <!-- This is not 100% width -->
        <div class="social-login d-flex flex-wrap justify-content-around">
          <button class="btn btn-outline-secondary my-2"><i class="fa-brands fa-google text-danger"></i> Sign In With Google</button>
          <button class="btn btn-outline-secondary my-2"><i class="fa-brands fa-facebook-f text-primary"></i> Sign In With Facebook</button>
        </div>
      </form>
</div>
